<script lang="ts">
    import type {ChartConfig, KanaCharacter} from "$lib/common-types";
    import {hoveredCharacter, KANA, ROWS, VOWELS} from "$lib/kana";

    export let config: ChartConfig = {
        showRomaji: false,
        showKatakana: true,
        showHiragana: true,
    }

    const rows:{[key:string]:KanaCharacter[]} = {}
    ROWS.forEach(row => {
        rows[row] = getRow(row)
    })
    function getRow(row: string): KanaCharacter[] {
        return KANA.filter(k => k.row === row).sort((a, b) => VOWELS.indexOf(a.vowel) - VOWELS.indexOf(b.vowel));
    }

    $: hovered = KANA.find(k => k.hiragana === $hoveredCharacter || k.katakana === $hoveredCharacter)||{};
</script>
<style lang="postcss">
    p {
        @apply font-bold text-2xl;
    }

    .highlight {
        @apply text-green-700;
    }

    .highlight-row {
        @apply bg-surface-700;
    }
</style>
<div class="grid grid-cols-5">
    {#each ROWS as rowKey}
        {#each rows[rowKey] as character}
            <div class="flex p-1.5 gap-1" class:highlight={hovered===character} class:highlight-row={character.vowel===hovered.vowel || character.row===hovered.row}>
                {#if config.showHiragana}
                    <p class="japanese-text">{character.hiragana}</p>
                {/if}
                {#if config.showKatakana}
                    <p class="japanese-text">{character.katakana}</p>
                {/if}
                {#if config.showRomaji}
                    <p>{character.romaji}</p>
                {/if}
            </div>
        {/each}
    {/each}
</div>