<script lang="ts">
    import type {PracticeReadingToken} from "$lib/common-types";
    import {fade} from "svelte/transition";
    import {hoveredCharacter} from "$lib/kana";

    export let token: PracticeReadingToken;
    export let practiceType: 'hiragana' | 'katakana';
    export let fadeIn: boolean = false;

    const animate = (node,args) => {
        if(fadeIn)
            fade(node,args);
    }
</script>
<style lang="postcss">
    .dirty.correct,.correct {
        @apply text-success-500;
    }

    .dirty.incorrect {
        @apply text-error-500;
    }

    .dirty {
        @apply text-secondary-500;
    }
</style>

<p class:correct={token.correct===true} class:incorrect={token.correct===false}
   class:dirty={token.input.length > 0} in:animate={{duration:1000}}
   on:mouseover={()=>$hoveredCharacter = token.hiragana}
>{practiceType === 'hiragana' ? token.hiragana : token.katakana}</p>
