<script lang="ts">
	import '../app.postcss';
	import {AppShell, AppBar, autoModeWatcher} from '@skeletonlabs/skeleton';
</script>
<style lang="postcss">
	a {
		@apply hover:underline text-xl px-2;
	}
</style>
<svelte:head>{@html `<script>${autoModeWatcher.toString()} autoModeWatcher();</script>`}</svelte:head>
<!-- App Shell -->
<AppShell>
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar>
			<svelte:fragment slot="lead">
				<strong class="text-xl uppercase">TypeKana</strong>
			</svelte:fragment>
			<div>
				<a href="/practice/hiragana" data-sveltekit-reload>Hiragana</a>
				<a href="/practice/katakana" data-sveltekit-reload>Katakana</a>
				<a href="/chart" data-sveltekit-reload>Chart</a>
			</div>
		</AppBar>
	</svelte:fragment>
	<slot />
</AppShell>
