<style lang="postcss">
    .practice-link {
        @apply btn lg:btn-xl variant-ghost;
    }
</style>
<div class="container h-full mx-auto flex justify-center items-center">
    <div class="text-center">

        <h1 class="text-6xl font-bold">Type Kana</h1>
        <div class="flex gap-x-10 my-3">
            <a class="practice-link" href="/practice/hiragana">Practice Hiragana</a>
            <a class="practice-link" href="/practice/katakana">Practice Katakana</a>
        </div>
    </div>
</div>

