<script lang="ts">
    import netflix10K from './Netflix10K.json';
    import {page} from "$app/stores";
    import type {ReadingBreakdown} from "$lib/common-types";
    import {onMount} from "svelte";
    import Practice from "./Practice.svelte";
    import {getReading} from "$lib/practice-utils";

    let words: ReadingBreakdown[] = [];
    let practiceType: 'hiragana' | 'katakana' = $page.params.type as 'hiragana' | 'katakana';

    onMount(() => {
        nextWord();
        nextWord();
        nextWord();
    })

    function getRandomWord(): string {
        return netflix10K[Math.floor(Math.random() * netflix10K.length)];
    }



    async function nextWord() {
        const word = getRandomWord();
        const reading = await getReading(word);
        words = [...words, reading];
    }

</script>
<svelte:head>
    <title>Practice {practiceType.substring(0, 1).toUpperCase() + practiceType.substr(1)}</title>
</svelte:head>
<div class="lg:flex lg:gap-x-10 justify-center mt-6 p-1">
    <div class="grow my-5 lg:my-16">
        <Practice {words} {practiceType} on:next={nextWord}/>
    </div>

</div>
