<script lang="ts">

    import {createEventDispatcher} from "svelte";
    import type { ReadingBreakdown} from "$lib/common-types";
    import {evaluateInput, isKana, toPracticeReading} from "$lib/practice-utils";
    import {localStorageStore} from "@skeletonlabs/skeleton";
    import KanaToken from "$lib/KanaToken.svelte";
    import {fade} from 'svelte/transition'
    import {getDb} from "$lib/db";


    export let words: ReadingBreakdown[];
    let masked = localStorageStore("masked", true);
    let inputElement: HTMLInputElement;
    const eventDispatcher = createEventDispatcher();
    let correct = false;
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    let backspaceCount = 0;
    let wordIndex = 0;
    let startTime = new Date().getTime();

    $: inputElement?.focus({preventScroll: true});

    export let practiceType: 'hiragana' | 'katakana';
    let input: string = '';

    $:{
        if (input && words[wordIndex]) {
            const practiceReadingBreakdown = evaluateInput(words[wordIndex], input.toLowerCase());
            correct = practiceReadingBreakdown && !practiceReadingBreakdown.tokens.some(t => t.correct !== true);
            if (correct){
                next();
                wordIndex++;
                input= '';
                getDb().practiceResult.add({
                    ...practiceReadingBreakdown,
                    startTime,
                    endTime: new Date().getTime(),
                    correct,
                    input: input.toLowerCase(),
                    practiceType,
                    backspaceCount
                });
                startTime = new Date().getTime();
                backspaceCount=0;
            }
        }
    }

    function handleKeypress(event: KeyboardEvent) {
        if (event.key === 'Backspace')
            backspaceCount++;
        if (document.activeElement !== inputElement) {
            if (event.key.length === 1) {
                input += event.key;
            } else if (event.key === 'Backspace') {
                input = input.slice(0, -1);
            }
        }
        if (event.key === 'Tab') {
            $masked = !$masked;
            event.preventDefault();
        }
    }

    function next() {
        eventDispatcher('next');
    }

    $:{
        if (input.length > 0 && isKana(input[0])) {
            $masked = false;
        }
    }

    function toCompleteWord(word: ReadingBreakdown) {
        const practiceReadingBreakdown = toPracticeReading(word);
        practiceReadingBreakdown.tokens.forEach(t => t.correct = true);
        return practiceReadingBreakdown;
    }


</script>
<style lang="postcss">
    input.masked {
        -webkit-text-security: disc;
        -moz-text-security: disc;
        text-security: disc;
    }

    input, input:focus {
        @apply p-2 rounded border-0 bg-surface-200 dark:bg-surface-700 ring-0;
    }
</style>
<svelte:body on:keydown|stopPropagation={handleKeypress}></svelte:body>
<div class="flex flex-col justify-center gap-y-5">
    <input class="text-2xl" autocomplete="off" class:masked={$masked}
           bind:value={input} bind:this={inputElement}>
    <div class="japanese-text text-6xl flex gap-x-3 justify-start flex-wrap" in:fade={{duration:1000}}>
        {#each words.slice(0, wordIndex) as word}
            {@const practiceReadingBreakdown = toCompleteWord(word)}
            {#each practiceReadingBreakdown.tokens as token}
                <KanaToken {token} {practiceType}/>
            {/each}
        {/each}
        {#if words[wordIndex]}
            {@const practiceReadingBreakdown = toPracticeReading(words[wordIndex])}
            {#each evaluateInput(practiceReadingBreakdown, input).tokens as token}
                <KanaToken {token} {practiceType}/>
            {/each}
        {/if}
        {#each words.slice(wordIndex + 1) as word}
            {@const practiceReadingBreakdown = toPracticeReading(word)}
            {#each practiceReadingBreakdown.tokens as token}
                <KanaToken {token} {practiceType} fadeIn={true}/>
            {/each}
        {/each}

    </div>
</div>