<script lang="ts">

    import type {ReadingBreakdown} from "$lib/common-types";
    import {page} from "$app/stores";
    import {evaluateInput} from "$lib/practice-utils";
    import JishoLink from "./JishoLink.svelte";

    export let data: { reading: ReadingBreakdown };
    let input = $page.url.searchParams.get("input");
    let answerTime = $page.url.searchParams.get("answerTime");
    let hoveredIndex: number | null = null;
</script>
<style lang="postcss">
    .correct {
        @apply text-success-600;
    }

    .hovered {
        @apply bg-surface-200 dark:bg-surface-700;
    }

    .reading-breakdown > span {
        @apply text-2xl font-bold text-center;
    }
    .reading-breakdown > p {
        @apply text-xl my-auto font-bold text-center text-surface-600 dark:text-surface-400 ;
    }

    .japanese-text {
        @apply whitespace-nowrap;
    }
</style>
<svelte:head>
    <title>{data.reading.word}</title>
</svelte:head>
<div class="container p-1 mx-auto mt-10" on:mouseover={()=>hoveredIndex=null} on:focus role="none">
    <p class="font-bold text-6xl text-center japanese-text">{data.reading.word}</p>
    {#if input}
        {@const practiceReading = evaluateInput(data.reading, input)}
        <div class="grid text-error-600 reading-breakdown gap-x-1 my-2"
             style="grid-template-columns: repeat({practiceReading.tokens.length+1},min-content)">
            <p class="">Hiragana</p>
            {#each practiceReading.tokens as token,i}
                <span class="rounded-t japanese-text" class:correct={token.correct} class:hovered={i===hoveredIndex}
                      on:mouseover|stopPropagation={()=>hoveredIndex=i} on:focus role="none">{token.hiragana}</span>
            {/each}
            <p class="">Katakana</p>
            {#each practiceReading.tokens as token,i}
                <span class="japanese-text" class:correct={token.correct} class:hovered={i===hoveredIndex}
                      on:mouseover|stopPropagation={()=>hoveredIndex=i} on:focus role="none">{token.katakana}</span>
            {/each}
            <p class="">Answered</p>
            {#each practiceReading.tokens as token,i}
                <span class="rounded-b text-center" class:correct={token.correct} class:hovered={i===hoveredIndex}
                      on:mouseover|stopPropagation={()=>hoveredIndex=i} on:focus role="none">{token.input}</span>
            {/each}
        </div>
        <p class="text-xl"><b>Definition</b> <span class="text-surface-400"><JishoLink word={data.reading.word}/> </span></p>
        {#if answerTime}
            {@const correct = !practiceReading.tokens.some(t=>!t.correct)}
            <p class="text-xl {correct?'text-success-600':'text-error-600'}">Answered in {(parseInt(answerTime)/1000).toFixed(1)} seconds</p>
        {/if}
        {:else}
        <div class="text-2xl">
            <p><b>Hiragana: </b> <span class="japanese-text">{data.reading.hiragana}</span></p>
            <p><b>Katakana: </b> <span class="japanese-text">{data.reading.katakana}</span></p>
            <p><b>Definition</b> <span class="text-surface-400"><JishoLink word={data.reading.word}/></span></p>
        </div>
    {/if}
</div>