<script>
    import KanaChart from "$lib/KanaChart.svelte";
</script>

<div class="flex justify-center gap-x-5 mx-1">
    <div class="mt-10 ml-5 hidden 2xl:block shrink-0">
    <KanaChart/>
    </div>
<div class="container mx-auto">
    <slot/>
</div>
</div>
