<script lang="ts">
    import netflix10K from './Netflix10K.json';
    import {page} from "$app/stores";
    import type {ReadingBreakdown} from "$lib/common-types";
    import {onMount} from "svelte";
    import Practice from "./Practice.svelte";
    import DailyCounts from "./DailyCounts.svelte";
    import PracticeHistory from "./PracticeHistory.svelte";
    import {browser} from "$app/environment";
    import {getReading} from "$lib/practice-utils";

    let currentWordPromise: Promise<ReadingBreakdown> | undefined;
    let nextWordPromise: Promise<ReadingBreakdown> | undefined;
    let practiceType: 'hiragana' | 'katakana' = $page.params.type as 'hiragana' | 'katakana';

    onMount(() => {
        nextWord();
    })

    function getRandomWord(): string {
        return netflix10K[Math.floor(Math.random() * netflix10K.length)];
    }



    function nextWord() {
        if (nextWordPromise) {
            currentWordPromise = nextWordPromise;
        } else {
            currentWordPromise = getReading(getRandomWord());
        }
        nextWordPromise = getReading(getRandomWord());
    }

</script>
<svelte:head>
    <title>Practice {practiceType.substring(0,1).toUpperCase()+practiceType.substr(1)}</title>
</svelte:head>
<div class="lg:flex lg:gap-x-10 justify-center mt-6 p-1">
    <div class="grow my-5 lg:my-16">
        {#if currentWordPromise}
            {#await currentWordPromise}
                <p>loading...</p>
            {:then currentWord}
                    <Practice readingBreakdown={currentWord} {practiceType} on:next={nextWord}/>
            {:catch error}
                <p>{error.message}</p>
            {/await}
        {/if}
    </div>
    <div class="flex-none mt-10 lg:mt-0">
        {#if browser}
            <DailyCounts/>
            <PracticeHistory {practiceType}/>
        {/if}
    </div>
</div>
