<script lang="ts">

    import {liveQuery} from "dexie";
    import {getDb, type PracticeResult} from "$lib/db";
    import {localStorageStore} from "@skeletonlabs/skeleton";
    import {onMount} from "svelte";

    const todaysResults = liveQuery(() => getDb().practiceResult.where("startTime").above(getDayStart()).toArray());
    let {total, success} = {total: 0, success: 0};
    let p75 = "", p90 = "";
    let sinceLastError = 0;
    const previousStreak = localStorageStore("type-kana-previous-streak", 0);
    let streakClass = "";

    $:{
        ({total, success} = getCounts($todaysResults))
        if ($todaysResults && $todaysResults.length > 0) {
            const duration = (r: PracticeResult) => r.endTime - r.startTime;
            const sortedResults = $todaysResults.sort((a, b) => duration(a) - duration(b));
            p75 = (quantile(sortedResults.map(duration), 0.75) / 1000).toFixed(1);
            p90 = (quantile(sortedResults.map(duration), 0.9) / 1000).toFixed(1);
            const newStreak = $todaysResults.sort((a, b) => b.startTime - a.startTime).findIndex(r => r.backspaceCount > 0);
            if (newStreak > $previousStreak)
                $previousStreak = newStreak;
            sinceLastError = newStreak;
            if (sinceLastError < 0)
                sinceLastError = $todaysResults.length;
            if(sinceLastError >= $previousStreak)
                streakClass = "text-success-600";
            else if(sinceLastError >= $previousStreak *.7)
                streakClass = "text-warning-600";
            else
                streakClass = "text-error-600";
        }
    }

    onMount(() => {
        if ($previousStreak < 10)
            getPreviousStreak().then(s => $previousStreak = s);
    })

    async function getPreviousStreak(): Promise<number> {
        let longestStreak = 0;
        let streak = 0;
        let lastResultTime = 0;
        await getDb().practiceResult.where("startTime").above(new Date(2023,10,19).getTime()).each(pr => {
            if (pr.startTime - lastResultTime > 24 * 60 * 60 * 1000) {
                streak = 1;
            }
            if (pr.correct && pr.backspaceCount === 0) {
                streak++;
                if (streak > longestStreak)
                    longestStreak = streak;
            } else {
                streak = 0;
            }
            lastResultTime = pr.startTime;
            console.log(streak, longestStreak)
        });
        return longestStreak;
    }

    function getCounts(results: PracticeResult[]): { total: number, success: number } {
        if (!results)
            return {total: 0, success: 0};
        let total = results.length;
        let success = results.filter(r => r.correct).length;
        return {total, success};
    }

    function getDayStart(): number { //returns the time of the start of the current day
        let date = new Date();
        date.setHours(0, 0, 0, 0);
        return date.getTime();
    }

    function quantile(sortedArray: number[], q: number): number {
        let pos = (sortedArray.length - 1) * q;
        return sortedArray[Math.round(pos)];
    }
</script>
<div class="text-right">
    <div class="text-xl flex justify-between items-center gap-x-4">
        <p class:opacity-0={sinceLastError<1}>
            <span class="text-3xl">Streak: </span>
                <span class="text-3xl {streakClass} pr-1">{sinceLastError }</span>
            <span>Max: {$previousStreak}</span>
        </p>
        <p>
            <span class="text-4xl text-success-600 pr-1">{success}</span>/<span class="text-2xl">{total}</span>
        </p>
    </div>
    <p class="text-xs text-surface-400">Daily total</p>
    {#if p75}
        <p class="text-xs text-surface-400">{p75}s p75 </p>
        <p class="text-xs text-surface-400">{p90}s p90 </p>
    {/if}
</div>
