<script lang="ts">

    import {createEventDispatcher} from "svelte";
    import type {PracticeReadingBreakdown, ReadingBreakdown} from "$lib/common-types";
    import {getDb} from "$lib/db";
    import {evaluateInput, isKana, toPracticeReading} from "$lib/practice-utils";
    import {localStorageStore} from "@skeletonlabs/skeleton";
    import KanaToken from "$lib/KanaToken.svelte";


    export let readingBreakdown: ReadingBreakdown;
    let practiceReadingBreakdown: PracticeReadingBreakdown;
    let startTime = new Date().getTime();
    let masked = localStorageStore("masked", true);
    let disableEnterSubmit = false;
    let inputElement: HTMLInputElement;
    const eventDispatcher = createEventDispatcher();
    let correct = false;
    let backspaceCount = 0;
    let finishTimeout: NodeJS.Timeout | undefined;

    $: inputElement?.focus({preventScroll: true});
    $: {
        correct = practiceReadingBreakdown && !practiceReadingBreakdown.tokens.some(t => t.correct !== true);
        const endTime = new Date().getTime();
        if (correct)
            next(startTime, endTime, 500);
    }

    $:{
        practiceReadingBreakdown = toPracticeReading(readingBreakdown);
    }
    export let practiceType: 'hiragana' | 'katakana';
    let input: string = '';

    $:{
        if (input && practiceReadingBreakdown) {
            practiceReadingBreakdown = evaluateInput(practiceReadingBreakdown, input.toLowerCase());
        }
    }

    function handleKeypress(event: KeyboardEvent) {
        if (event.key === 'Backspace')
            backspaceCount++;
        if (document.activeElement !== inputElement) {
            if (event.key.length === 1) {
                input += event.key;
            } else if (event.key === 'Backspace') {
                input = input.slice(0, -1);
            }
        }
        if (event.key === 'Enter' && (!disableEnterSubmit || correct) && input.length > 0) {
            clearTimeout(finishTimeout);
            next(startTime, new Date().getTime());
        }
        if (event.key === 'Tab') {
            $masked = !$masked;
            event.preventDefault();
        }
    }

    function next(startTime: number, endTime: number, delay = 0) {
        if (finishTimeout)
            clearTimeout(finishTimeout)
        getDb().practiceResult.add({
            ...practiceReadingBreakdown,
            startTime,
            endTime,
            correct,
            input: input.toLowerCase(),
            practiceType,
            backspaceCount
        })
        if (delay > 0) {
            finishTimeout = setTimeout(() => eventDispatcher('next'), delay);
        } else
            eventDispatcher('next');
    }

    $:{
        if (input.length > 0 && isKana(input[0])) {
            disableEnterSubmit = true;
            $masked = false;
        } else {
            disableEnterSubmit = false;
        }
    }


</script>
<style lang="postcss">
    input.masked {
        -webkit-text-security: disc;
        -moz-text-security: disc;
        text-security: disc;
    }

    input, input:focus {
        @apply p-2 rounded border-0 bg-surface-200 dark:bg-surface-700 ring-0;
    }
</style>
<svelte:body on:keydown|stopPropagation={handleKeypress}></svelte:body>
<svelte:window on:focus={()=>startTime = new Date().getTime()}></svelte:window>
<div class="flex flex-col justify-center gap-y-5">
    <div class="japanese-text text-6xl flex gap-x-3 justify-center">
        {#each practiceReadingBreakdown.tokens as token}
            <KanaToken {token} {practiceType}/>
        {/each}
        <p class="w-[1em]">
            {#if correct}
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" class="fill-success-500" viewBox="0 0 448 512">
                    <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z"/>
                </svg>
            {/if}
        </p>
    </div>
    <input class="text-2xl" autocomplete="off" on:focus={()=>startTime=new Date().getTime()} class:masked={$masked}
           bind:value={input} bind:this={inputElement}>
</div>