<script lang="ts">

    import {liveQuery} from "dexie";
    import {getDb} from "$lib/db";

    const practiceHistory = liveQuery(() => getDb().practiceResult.orderBy("startTime").reverse().limit(10).toArray());
    export let practiceType: 'hiragana' | 'katakana';
</script>
<style lang="postcss">
    .japanese-results {
        @apply text-2xl text-error-600;
    }

    .correct {
        @apply text-success-600;
    }
</style>
<div class="space-y-1">
{#if $practiceHistory}
    {@const hasBackspaceCount = $practiceHistory.some(practiceResult => practiceResult.backspaceCount > 0)}
    {#each $practiceHistory as practiceResult}
        <a class="space-y-0.5 hover:bg-surface-100 dark:hover:bg-surface-800 rounded py-1 px-2 block" href="/word/{practiceResult.word}?input={encodeURIComponent(practiceResult.input)}&answerTime={practiceResult.endTime-practiceResult.startTime}">
            <p class="japanese-results japanese-text">
                {#each practiceResult.tokens as token}
                    <span class:correct={token.correct}>{practiceType === 'hiragana' ? token.hiragana : token.katakana}</span>
                {/each}
            </p>
            <p class="text-error-600">
                {#each practiceResult.tokens as token}
                    <span class:correct={token.correct}>{token.romaji}</span>
                {/each}
            </p>
            <p class="text-xs text-surface-400">{new Date(practiceResult.startTime).toLocaleString()} Took: {((practiceResult.endTime-practiceResult.startTime)/1000).toFixed(1)}s{#if hasBackspaceCount}&nbsp;/ ∅:{practiceResult.backspaceCount}{/if}</p>
        </a>
    {/each}
{/if}
</div>
